<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Falling Color</title>
</head>
<body>
<div id="app" @click="rotateColorBlock" :style="{'background-color': appBackgroundColor}">
    <div id="testDiv" v-if="gameIsRunning">
        <div id="scorePanel" v-if="gameIsRunning">
            <h2>Scores</h2>
            <h2>{{ userScores }}</h2>
        </div>
        <div id="colorObject"
             :style="{'background-color': objectColor, top: distanceToTop + 'px', transition: transitionType}"
             v-if="gameIsRunning"></div>
    </div>
    <div id="paddingDiv">

        <button @click="startGame" id="startButton" :style="{visibility: buttonVisibility, opacity: buttonOpacity}">
            Start
            Game
        </button>
        <div v-if="gameOver" id="gameOver">
            <h2>Game Over</h2>
            <p>Your score is {{ userScores }}</p>
            <br>
            <div id="leaderBoard">
                <template v-if="showLeaderBoard">
                    <h3>Leaderboard</h3>
                    <ul v-for="player in topPlayers">
                        <li>{{player.name}} - {{player.score}}</li>
                    </ul>
                </template>
            </div>
            <br>
            <template v-if="showSubmitForm">
                <form>
                    <div class="form-group col-xs-12 col-md-6 col-md-offset-3">
                        <label for="txtPlayerName" style="font-size: 20px">Your Name</label>
                        <input type="text" v-model="playerName" id="txtPlayerName" class="form-control">
                    </div>
                    <div class="col-xs-6 col-xs-offset-3">
                        <button @click="submitPlayerInfo" id="submitPlayerButton">Submit</button>
                    </div>
                </form>
            </template>
            <p v-if="showResponse">{{ messageFromServer }}</p>
            <button v-if="!isSubmitted" id="submitScoreButton" @click="showSubmit">Submit Score</button>
            <button @click="startGame" id="playAgainButton" v-if="!showSubmitForm">Play Again?</button>
        </div>
    </div>
    <div id="colorBlock" :style="{transform: rotateValue}" v-if="gameIsRunning">
        <div id="yellow"></div>
        <div id="blue"></div>
        <div id="green"></div>
        <div id="red"></div>
    </div>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/main_min.js"></script>
</body>
</html>
